.biryani-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* center the container */
}

.biryani-card {
  display: flex;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.biryani-card:hover {
  transform: translateY(-10px);
  border: 1px solid #facc15;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.biryani-image {
  flex: 0 0 20%;
  max-width: 20%;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.biryani-content {
  flex: 0 0 80%;
  max-width: 80%;
  padding-left: 15px;
}

.biryani-content h2 {
  color: #333;
  margin-bottom: 10px;
}

.biryani-content p {
  margin-bottom: 5px;
}

.sold-out {
  color: red;
  font-weight: bold;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .biryani-card {
    flex-direction: column;
  }

  .biryani-image {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .biryani-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: left;
  }
}
